.contact {
    display: grid;
    width: 100%;
    grid-template-columns: 80px auto 40px;
    grid-template-areas: "avatar detail action";
    align-items: stretch;
    justify-items: stretch;
}

.contact-avatar {
  width: 60px;
  height: 60px;
  margin-left: 6px;
  margin-right: 20px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  grid-area: avatar;
}

.contact-details {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #eee;
    overflow: hidden;
    grid-area: detail;
    justify-self: stretch;
}

.contact-details p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-action {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('./icons/cancel.svg');
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  grid-area: action;
}
